html, body, #map-container {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}
#resultados {
    position: absolute;
    bottom: 6vh;
    right: 6vw;
    z-index: 1000;
    background: rgba(255,255,255,0.4);
    font-size: 0.8em;
    padding: 15px;
}
